@import 'bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter:wght@800&display=swap');

body{
    font-family:  EB Garamond,sans-serif;

}
.home-captions{
    font-family :  Inter ,sans-serif;
    font-size : 3vw;
}
@media (max-width : 576px){
    .home-captions{
    font-size: 10vw;}
}
@keyframes fadeOutLight {
    0% {
        background-color: #212529;
        color : #f1f5f8;
    }
    100% {
        background-color: #f1f5f8;
        color :  #212529;
    }
}
@keyframes fadeOutDark {
    0% {
        background-color: #f1f5f8;
        color :  #212529;
    }
    100% {
        background-color: #212529;
        color : #f1f5f8;
    }
}
.light-mode{    
    animation-name: fadeOutLight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    will-change: background-color,color;
        

}
.dark-mode{    
    animation-name: fadeOutDark;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    will-change: background-color,color;
}
.default-light-mode{
    background-color: #f1f5f8;
}